<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tic Tac Toe</title>
    
  </head>
  <body>
    <h1>Hola!</h1></br>
    <button class="form-submit" type="submit">Play a 2-player game</button>
    <button class="form-submit" type="submit">Play against the computer</button>
  </body>
</html>


